header.header
    .page-top
        .container.container--page-top
            nav.nav-menu
                button( class=" nav-menu-button cmn-toggle-switch cmn-toggle-switch__htx" id="nav-menu-toggle")
                    span toggle menu
            a(href="#").logo
                .logo-icon
                    img(src="img/icons/logo-white.svg", alt="logo")
                .logo-name Производство металлических конструкций
            .page-top-contacts
                .contacts-row
                    .phone-icon
                        i.fas.fa-phone-alt
                    .phone-number
                        a.phone-number__item(href="tel:89602962040") +7 960 296-20-40
                        a.phone-number__item(href="tel:89115054664") +7 911 505-46-64
                p.contacts-slogan ответим на вопросы

    .header-slider.owl-carousel
        //-item-1
        .header-slider__item.header-slider__item-1
            .container
                .header-slider__item-text
                    h1.title-1 
                        span.text-normal  - Срок изготовления контейнеров
                        span.text-medium  2&nbsp;дня
                        span.text-border от&nbsp;6000&nbsp;р
                    p.header-subtitle Мы изготавливаем контейнеры под заказ разных размеров и разного назначения в короткий с гарантией качества. Все контейнеры исключительно собственного производства.
                    a(href="#").page-button Заказать
        //-item-2
        .header-slider__item.header-slider__item-1
            .container
                .header-slider__item-text
                    h1.title-1 
                        span.text-normal  - Срок изготовления контейнеров
                        span.text-medium  2&nbsp;дня
                        span.text-border от&nbsp;6000&nbsp;р
                    p.header-subtitle Мы изготавливаем контейнеры под заказ разных размеров и разного назначения в короткий с гарантией качества. Все контейнеры исключительно собственного производства.
                    a(href="#").page-button Заказать
        //-item-3
        .header-slider__item.header-slider__item-1
            .container
                .header-slider__item-text
                    h1.title-1 
                        span.text-normal  - Срок изготовления контейнеров
                        span.text-medium  2&nbsp;дня
                        span.text-border от&nbsp;6000&nbsp;р
                    p.header-subtitle Мы изготавливаем контейнеры под заказ разных размеров и разного назначения в короткий с гарантией качества. Все контейнеры исключительно собственного производства.
                    a(href="#").page-button Заказать

