extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//- include ../sections/_section1.pug
	//- include ../sections/_section2.pug
	//- include ../sections/_section3.pug


block variables
	-var title = "new project";